<%- include('../partials/header') %>

  <h1>Skill #<%= sk.id %></h1>
  <h3><%= sk.skill %></h3>
  <h3><%= sk.learned ? 'Complete' : 'Incomplete' %></h3>
  <form
          action="/skills/<%= sk.id %>?_method=DELETE"
          class="delete-form"
          method="POST"
  >
  <button type="submit">X</button>
  </form>
<%- include('../partials/footer') %>